#image {
    height:256px;
    width:256px;

    background: url('https://photos.google.com/photo/AF1QipM5lML19zpZ16zW88H-THQfzmmISODDpsiUYNSBhttps://photos.google.com/photo/AF1QipM5lML19zpZ16zW88H-THQfzmmISODDpsiUYNSB') 0px 0px;
}
